<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">aschi.2991</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:8889/ndovado</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">false</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="com.ndovado.dominio.core.ARuolo"/>
  <mapping class="com.ndovado.dominio.core.Gestore"/>
  <mapping class="com.ndovado.dominio.core.Locatario"/>
  <mapping class="com.ndovado.dominio.core.Camera"/>
  <mapping class="com.ndovado.dominio.core.DescrizioneCamera"/>
  <mapping class="com.ndovado.dominio.core.Luogo"/>
  <mapping class="com.ndovado.dominio.core.Struttura"/>
  <mapping class="com.ndovado.dominio.core.Utente"/>
  <mapping class="com.ndovado.dominio.pagamenti.Pagamento"/>
  <mapping class="com.ndovado.dominio.prenotazioni.LineaPrenotazione"/>
  <mapping class="com.ndovado.dominio.prenotazioni.Prenotazione"/>
  <mapping class="com.ndovado.dominio.prenotazioni.TableauPrenotazioni"/>
  <mapping class="com.ndovado.dominio.servizi.ATipologiaServizio"/>
  <mapping class="com.ndovado.dominio.servizi.DettaglioServizio"/>
  <mapping class="com.ndovado.dominio.servizi.ServizioComune"/>
  <mapping class="com.ndovado.dominio.prenotazioni.statiprenotazione.AStatoPrenotazione"/>
  <mapping class="com.ndovado.dominio.prenotazioni.IPrenotabile"/>
 </session-factory>
</hibernate-configuration>
