*{
	margin: 0;
	padding: 0;
}

body { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: url("#{resource['images:background4.jpg']}") fixed !important;
  background-size: cover !important;
}

.container {
    margin-top: 20px;
    margin-left:20px;
    
}

/*h3.ui.header {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    margin: 15px auto 30px auto;
}*/

#ridimensionaimmagine .image { 
    border: 0;
    width: 100%;
}

#ridimensionaimmagine img { 
    border: 0;
    width: inherit;
}


.m-b-reset{
    margin-bottom: 0px !important;
}



.m-top-10{
    margin-top: 10px !important;
}

.padding-reset{
    padding: 0px !important;
}

.pagamento{
    display: block;

}
.hidden{
    opacity: 0;
}

.ui.button{
    text-transform: capitalize;
}

.ui.button, .ui.buttons .button, .ui.buttons .or {
    font-size: 1rem;
}

#dimcard .ui.cards>.card {
    width: inherit !important;
}

/*@media only screen and (min-width: 1200px)
.ui.grid.container {
    width: calc(1250px + 2rem) !important;
}*/

.ui .message{
    padding-top: 30px !important;
    padding-bottom:  50px !important;
}

.ui.menu {
    border-radius: 0 !important;
} 

.ui.fluid.dropdown {
    display: block;
    width: 100%;
    min-width: 0;
    background-color: white;
}

.ui.green.button, .ui.green.buttons .button {
    background-color: #5bbd72;
    color: #fff;
    text-shadow: none;
    background-image: none;
    float: right;
}



.ui.items {
    margin: 0px !important;
}

.ui.inverted.menu .orange.active.item, .ui.inverted.orange.menu {
    background-color: #FF6702  !important;
}

.ui.inverted.orange.menu .item:before {
    background-color: #FF6702 !important;
}

.ui.inverted.orange.button {
    margin-top: 10px !important;
    display: block !important;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #1B1C1D;
    color: rgba(255,255,255,.9);
    margin-top: 30px !important;
}

.ui.inverted.white.button {
    margin-top: 10px !important;
    display: block !important;
}

.ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
    float: right;
    margin-bottom: 10px;
}

.ui.labeled.icon.menu {
    text-align: center;
    position: fixed;
    top: 105px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.ui.modal > .header {
    display: block;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background: #FF6702 !important;
    margin: 0;
    padding: 1.25rem 1.5rem;
    box-shadow: none;
    color: white !important;
    border-bottom: 1px solid rgba(34,36,38,.15);
}


.ui.orange.button {
    /*margin-top: 10px !important;*/
    display: block !important;
}
.ui.orange.label, .ui.orange.labels .label {
    float:right;
}
.ui.orange.segment:not(.inverted) {
    border-top: 2px solid #F2711C;
    background: rgba(255,255,255,0.95) !important;
}

.ui.page.grid {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 12% !important;
    padding-right: 6% !important;
}

#pulsante {
    text-align: right;
}

.pulsanti {
    margin-top:20px;
}


.ui.positive.button {
    background-color: #16ab39!important;
    color: #FFF;
    text-shadow: none;
    float: right;
}

.ui.radio.checkbox {
    min-height: 14px;
    margin-right: 7px;
}

.ui.small.image, .ui.small.images .image, .ui.small.images img, .ui.small.images svg {
    width: 150px;
    height: auto;
    font-size: .92857143rem;
    display: inline;
}


.logo {
    display: block;
    background: url('logo.png') !important;
    color: rgba(255,255,255,.9);
}

.ui.sidebar {
    position: absolute !important;
    top: 50px !important;
}

.ui.vertical.menu {
    width: inherit !important;
}

.ui.vertical.menu .item>i.icon {
    width: 1.18em;
    float: right;
    margin: 0 0 0 0 !important;
}

.ui.menu .item>i.icon {
    opacity: .9;
    float: none;
    margin: 0 0 0 0;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #1B1C1D;
    color: rgba(255,255,255,.9);
    margin-top: 20px !important;
}

.ui.inverted.menu {
    background: rgba(27,28,29,0.50) !important;
}


@font-face {
  font-family: 'Icons';
  src: url("#{resource['css:themes/default/assets/fonts/icons.eot']}");
  src: url("#{resource['css:themes/default/assets/fonts/icons.eot?#iefix']}") format('embedded-opentype'), url("#{resource['css:themes/default/assets/fonts/icons.woff2']}") format('woff2'), url("#{resource['css:themes/default/assets/fonts/icons.woff']}") format('woff'), url("#{resource['css:themes/default/assets/fonts/icons.ttf']}") format('truetype'), url("#{resource['css:themes/default/assets/fonts/icons.svg#icons']}") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

.ui.statistics .statistic>.value {
    font-size: 2rem !important;
}

.footer{
    bottom:0;
    position:relative;
    width:100%;
}

/* Label errore input*/
.ui.pointing.label, .ui[class*="pointing above"].label {
    margin-top: -1em !important;
}

#page {
	min-height:100%;
	position:relative;
}
#page #footer {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}
#content {
	padding-bottom: 100px;
}
