<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NdoVaDo</display-name>
  <description>
		Sistema gestione prenotazioni per BB e case vacanze. 
	</description>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InitAppLoggerServlet</servlet-name>
    <servlet-class>com.ndovado.webapp.servlet.init.InitAppLoggerServlet</servlet-class>
       	<init-param>
		<param-name>start</param-name>
		<param-value>false</param-value>
		</init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InitServizioPersistenzaBaseServlet</servlet-name>
    <servlet-class>com.ndovado.webapp.servlet.init.InitServizioPersistenzaBaseServlet</servlet-class>
    <init-param>
		<param-name>start</param-name>
		<param-value>false</param-value>
	</init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
</web-app>